<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CDAC Enrollment</title>
</head>
<body>
    <h1>CDAC Enrollment Form</h1>
    <form action="/submit" method="post">
        <label for="username">User Name:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="prn">PRN Number:</label>
        <input type="text" id="prn" name="prn"><br><br>
        <label for="branchname">Branch Name:</label>
        <input type="text" id="branchname" name="branchname"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
